.git/
frontend/.idea/
frontend/node_modules/

\.idea/
.DS_Store
node_modules/
/dist/
webpack.config.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
